/*  Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

/*  Common Styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Top Banner style  */
.top-banner{
    width: 100%;
    background-color: #2D25A0;
}
.top-wrapper{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}
.content-area{
    width:485px;
    margin: 100px 0px 40px 0px;
}
.top-banner-text{
    color: white;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
}
.link-button a{
    text-decoration: none;
    color: #ffffff;
    background: #E02C6D;
    padding: 10px 24px;
}
.arrow{
    margin-left: 10px;
}
.link-button :hover {
    background-color: crimson;
}
.image-area{
    width: 556px;
    margin: 100px 0 40px 0;
}
.image-area img{
    max-width: 100%;
}

/* Players style */
.players{
    display: grid;
    width: 1050px;
    margin: 70px auto;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 300px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    max-width: 100%;
}
.player-name, .blog-heading{
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 10px 0;
    color: #18191F;
}
.player-info, .blog-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin: 10px 0;
    color: #6c6c6c;
}

/* Blog style */
.blog-section{
    width: 100%;
}
.section-title{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 900;
    line-height: 50px;
    color: #18191F;
}
.blogs{
    display: grid;
    width: 1050px;
    margin: 70px auto;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 35px;
    grid-row-gap: 30px;
}
.blog{
    width: 500px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.thumbnail img{
    max-width: 100%;
}

