/*  Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/*  Common Styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.player-section, .higlight-section, .gallery-section, .blog-section{
    width: 100%;
    margin: 100px 0px;

}

/* Top Banner style  */
.top-banner{
    width: 100%;
    background-color: #2D25A0;
}
.top-wrapper{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}
.content-area{
    width:485px;
    margin: 100px 0px 40px 0px;
}
.top-banner-text{
    color: white;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}
.link-button a{
    text-decoration: none;
    color: #ffffff;
    background: #E02C6D;
    padding: 10px 24px;
}
.arrow{
    margin-left: 10px;
}
.link-button :hover {
    background-color: crimson;
}
.image-area{
    width: 556px;
    margin: 100px 0 40px 0;
}
.image-area img{
    max-width: 100%;
}

/* Players style */
.players{
    display: grid;
    width: 1050px;
    margin: 70px auto;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 300px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    max-width: 100%;
}
.player-name, .blog-heading{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 10px 0;
    color: #18191F;
}
.player-info, .blog-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    margin: 10px 0;
    color: #6c6c6c;
}
/* Highlight section  */
.highlight{
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 17px;
}
.content-part{
    width: 466px;
}
.highlight-heading{
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
}
.highlight-text{
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    color: #6c6c6c;
    margin-bottom: 24px;

}
.highlight-image{
    width: 567px;
}
.highlight-image img{
    max-width: 100%;
}

/* Gallery section style */

.section-title{
    width: 30%;
    text-align: center;
    margin: 40px auto;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    color: #18191F;
}
.gallery{
    display: grid;
    width: 1050px;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.gallery-item{
    width: 220px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
}
.gallery-item img{
    max-width: 100%;
}
.gallery-item :hover{
    transform: scale(1.2);
}

/* Blog section style */

.blogs{
    display: grid;
    width: 1050px;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 35px;
    grid-row-gap: 30px;
}
.blog{
    width: 483.5px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.thumbnail img{
    max-width: 100%;
}
/* Footer style  */
.footer-section{
    width: 100%;
}
.footer {
    width: 30%;
    margin: 0 auto;
}

.logo img {
    max-width: 100%;
}

.social-icon {
    text-align: center;
}

a.icon {
    text-decoration: none;
    color: gray;
    margin: 0px 14px;
    background: #e4e4e4;
    border-radius: 50%;
    padding: 5px;
}

p.copyright-text {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
/*---------------------
    Media Queries 
-----------------------*/
/* Mobile Device */

@media only screen and (max-width: 688px) {
    main{
        width: 100%;
    }
    .top-wrapper{
        width: 100%;
        padding: 0% 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-area{
        width: 95%;
    }
    .image-area{
        width: 95%;
    }
    .image-area img{
        max-width: 100%;
    }
    .players{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .player{
        width: 90%;
    }
    .player-image img{
        max-width: 90%;
    }
    .highlight{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0% 3%;
        justify-content: center;
    }
    .content-part{
        width: 90%;
        margin-bottom: 20px;
    }
    .highlight-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;

    }
    .highlight-image{
        width: 90%;
    }
    .highlight-image img{
        max-width: 100%;
    }
    .section-title{
        font-size: 22px;
        line-height: 35px;
    }
    .gallery, .blogs{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .gallery-item{
    width: 100%;
    }
    .gallery-item img{
        max-width: 100%;
    }
    .blog{
        width: 90%;
    }
    .blog-details{
        width: 90%;
    }
    .thumbnail img{
        max-width: 95%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


/* Tablet Device */
@media only screen and (min-width:688) and (max-width:992){
    .top-wrapper{
        width: 100%;
        padding: 3%;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    .content-area{
        width: 45%;
    }
    .image-area{
        width: 45%;
    }
    .image-area img{
        max-width: 100%;
    }
    .players{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .player{
        width: 50%;
        justify-content: center;
    }
    .player-image img{
        max-width: 100%;
    }
    .highlight{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3%;
    }
    .content-part{
        width: 45%;
        margin-bottom: 20px;
    }
    .highlight-image{
        width: 45%;
    }
    .highlight-image img{
        max-width: 100%;
    }
    .section-title{
        font-size: 22px;
        line-height: 35px;
    }
    .gallery, .blogs{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
    .gallery-item{
        width: 48%;
    }
    .gallery-item img{
        max-width: 90%;
    }
    .blog{
        width: 45%;
    }
    .thumbnail img{
        max-width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
